<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.engarnet.timetree.api">

    <uses-permission android:name="android.permission.INTERNET" />
    <application>
        <activity android:name="com.engarnet.timetree.ui.AuthorizeActivity" />
    </application>
</manifest>
